# tmp / OS
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/

# build artefacts (none expected, but safety)
*.o
*.so
*.zst.tmp
*.ko
*.mod
*.mod.c
.*.cmd
Module.symvers
modules.order
.tmp_versions/

# Python bytecode
__pycache__/
*.pyc
