# FocalTech FT9349 ESS (ASUS ExpertBook B9406CAA, USB 2808:a97a)
# Disables USB autosuspend which otherwise causes the sensor to suspend after 2s
# of idle, ignoring finger touch/press events. Runs after 60-autosuspend.rules.
ACTION=="add|bind", SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="a97a", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add|bind", SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="a97a", TEST=="power/persist", ATTR{power/persist}="1"
